/* You can add global styles to this file, and also import other style files */

/* @import "@gooddata/react-components/styles/css/main.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "@gooddata/react-components/styles/css/pivotTable.css";
@import '@gooddata/react-components/styles/css/dateFilter.css';
@import "react-datepicker/dist/react-datepicker.css"; */
@import "@gooddata/sdk-ui-pivot/styles/css/main.css";
@import "@gooddata/sdk-ui-pivot/styles/css/pivotTable.css";
@import "@gooddata/sdk-ui-pivot/styles/css/menu.css";
@import "@gooddata/sdk-ui-charts/styles/css/charts.css";

@import "@gooddata/sdk-ui-filters/styles/css/main.css";
@import "@gooddata/sdk-ui-filters/styles/css/attributeFilter.css";
@import "@gooddata/sdk-ui-filters/styles/css/measureValueFilter.css"; 
/* @import "@gooddata/sdk-ui-filters/styles/css/dateFilter.css"; */

@import "@gooddata/sdk-ui-geo/styles/css/main.css";
@import "@gooddata/sdk-ui-ext/styles/css/insightView.css";
@import "@gooddata/sdk-ui-ext/styles/css/geoChart.css";
/* @import '@gooddata/react-components/styles/css/geoChart.css'; */


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.separator {
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-width: 1px 0px 0px;
    margin: 20px 0px;
}

.is-selected .mat-list-item-content {
    border-left : 3px solid #81BEF7;
    background-color: #F2F2F2;

}
